icons/desktop.ini
controls.json
keybinds.json
ui/arrow_down.png
ui/arrow_up.png
ui/cancel.png
ui/ClearAll.png
ui/Collapse.png
ui/Delete.png
ui/dropdown.png
ui/emptyButton.png
ui/Exit.png
ui/Expand.png
ui/form_collapsed.png
ui/form.png
ui/Import.png
ui/importmacro.png
ui/macrowindow.png
ui/Save.png
ui/synthesis_h.png
ui/synthesis.png
ui/tab_crafting_unselect.png
ui/tab_crafting.png
ui/tab_keybinds_unselect.png
ui/tab_keybinds.png
ui/X Button.png
FFXIV_Macro_Crafter - Nice UI.ps1
Rotations/Rarefied Syrup.json
Rotations/2 Star Oddly Specific.json
Rotations/4 Steps HQ.json
Rotations/Gobbiegoo Skybuilders.json
Rotations/Moon Gel Collectable.json
